[Desktop Entry]
Name=Darkine
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Darkine
X-KDE-PluginInfo-Version=1.0
