[Desktop Entry]
Name=Darkine (Round)
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=kde@rokin.in
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Darkine-round
X-KDE-PluginInfo-Version=2.0
